<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Image Manipulation App</title>
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active btn"><a href="#">Accueil</a>
                    </li>
                    <li role="presentation" class="btn"><a href="https://github.com/Melissa-Amrouche/TransformationImages">Git</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Application de Manipulation d'Images</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Téléchargez votre image</h1>
            <p class="lead"></p>
	       <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <input id="file-picker" type="file" name="file" accept="image/*" class="hidden" onchange="this.form.submit()">
            <label for="file-picker" class="btn btn-lg btn-success">Sélectionner un fichier</label>
		 </form>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Retourner</h4>
                <p>Retournez votre image téléchargée horizontalement ou verticalement.</p>
 
                <h4>Rogner</h4>
                <p>Sélectionnez vos points de début et de fin pour rogner votre image.</p> 
                
            </div>
 
            <div class="col-lg-6">
                <h4>Pivoter</h4>
                <p>Entrez l'angle (en degrés) pour faire pivoter votre image dans le sens horaire.</p>
 
                <h4>Fusionner</h4>
                <p>Fusionnez avec une image fournie, en couleur ou en noir et blanc.</p>
                
            </div>
        </div>
 
        <footer class="footer">
            <p class="text-center">&copy; 2025. Transformation d'Images.</p>
        </footer>
 
    </div>
</body>
 
</html>
